<main>
  <h2>SERVICES I OFFER</h2>


  <div class="items">
    <div class="box">
      <i class="ri-angularjs-line"></i>
      <h3>Front-End Framework Expertise</h3>
      <p>Experience building powerful and dynamic web applications with Angular.</p>


    </div>


    <div class="box">
      <i class="ri-reserved-line"></i>
      <h3>Responsive Web Design</h3>
      <p>Design responsive interfaces using Media Queries for compatibility with different devices.</p>
    </div>

    <div class="box">
      <i class="ri-hand-coin-line"></i>
      <h3>Web Animations </h3>
      <p>Create light and easy animations using CSS keyframes.</p>
    </div>


    <div class="box">
      <i class="ri-pages-line"></i>
      <h3>Maintenance and Support</h3>
      <p>Ongoing support to keep your website updated and secure</p>
    </div>

    <div class="box">
      <i class="ri-article-line"></i>
      <h3>Performance Optimization</h3>
      <p>Lazy Loading app to upload images and content only when needed</p>
    </div>

  </div>
</main>



<!-- Front-End Framework Expertise -->
<!-- Responsive Web Design -->
<!-- Web Animations -->
<!-- Maintenance and Support -->


